<main class="contenedor">
    <form action="/crear-cuenta" method="post" class="default-form">
        <div class="campo">
            <label for="">Nombre</label>
            <input type="text" name="nombre" id="" placeholder="Nombre del usuario">
        </div>
        <div class="campo">
            <label for="">Correo</label>
            <input type="email" name="email" id="" placeholder="Correo del usuario">
        </div>
        <div class="campo">
            <label for="">Password</label>
            <input type="password" name="password" id="" placeholder="Password del usuario">
        </div>
        <div class="campo">
            <label for="">Repetir password</label>
            <input type="password" name="confirmar" id="" placeholder="Repetir password del usuario">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>

        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>

    </form>
</main>