<main class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">

        <div class="campo">
            <label for="">Correo</label>
            <input type="email" name="email" id="" placeholder="Correo del usuario">
        </div>
        <div class="campo">
            <label for="">Password</label>
            <input type="password" name="password" id="" placeholder="Password del usuario">
        </div>

        <div class="campo acciones">
            <a href="/crear-cuenta">Crear cuenta</a>
            <a href="/reestablecer-password">Olvidé mi contraseña</a>
        </div>

        <div class="campo">
            <input type="submit" value="Iniciar sesión" class="btn btn-azul">
        </div>

    </form>
</main>