<main class="contenedor">
    <form  method="post" class="default-form">
        <div class="campo">
            <label for="">Nueva contraseña</label>
            <input type="password" name="password" id="" required>
        </div>
        <div class="campo">
            <input type="submit" value="Enviar" class="btn btn-azul">
        </div>
    </form>
</main>