<main class="contenedor">
    <form action="/reestablecer-password" method="post" class="default-form">
        <div class="campo">
            <label for="">Correo</label>
            <input type="email" name="email" id="" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion"> ¿O ya tienes una cuenta?, Inicia sesión.</a>
        </div>
        <div class="campo">
            <input type="submit" value="Enviar" class="btn btn-azul">
        </div>
    </form>
</main>